*{
    margin: 0;
    color: white;
}
body{
    background-color: black;
}

.mainbackground{
    background-image: url(/images/download\ \(16\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 5px;

}
.mainheading{
    font-size: 30px;
}
.logo{
    color: orangered;

}
.mainnavbar{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}
.links{
    display: flex;
    justify-content: space-between;
    width: 400px;
    
}
a{
    border: none;
}
.maincontent{
    text-align: center;
    font-size: 50px;
    margin-top: 250px;
    
   
    

}
p,h3{
    text-align: center;
}
h3{
   margin: 30px 550px 30px 550px ;

 border: 2px solid white;
 /* width: 100px; */
}
button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}